body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.section1Image {
	height: 200px;
	width: 200px;
}

.colorBox {
	height: 50px;
	width: 50px;
	border: solid black 0.2em;
}