body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center{
	display: flex;
	justify-content: center;
}

.secondary{
	color: #ffffff;
	background-color: #1abc9c;
}

.btn {
	margin: 10px;
}

.info{
	padding-bottom: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.section1Image {
	height: 250px;
	width: 250px;
}

.imageContainer:hover {
	border: ridge 0.5em #1abc9c;
}

.colorBox {
	height: 50px;
	width: 50px;
	border: solid black 0.2em;
	display: flex;
	margin: 10px;
}

.container {
	display: flex;
	justify-content: center;
}

.imageContainer {
	border: solid 0.5em white;
	display: flex;
	height: 400px;
	width: 300px;
	padding-top: 50px;
	justify-content: center;
}

.colorContainer {
	display: flex;	
	justify-content: center;
	padding-top: 100px;
}

.progress {
	margin: 10px;
}


