  {{> navbar }}

  <div class="info">
    	<div class="center">
  			<h2> About the test</h1>
  		</div>
 		<p class="instructions">&emsp;&ensp; This test is a combination of several different sections, each designed to test the proficiency of a different learning style. These sections test audio-visual connections, verbal comprehension, and rapid naming analysis. By testing these learning abilities, we are able to get a general idea of whether the tester may benefit from future testing or from a clinical analysis.</p> 
 </div>

  <div class="secondary info">
    	<div class="center">
  			<h2> About the project</h1>
  		</div>
 		<p class="instructions">&emsp;&ensp; This project was a collaboration between Naomi Gutstein and Gabriel Pezanoski-Cohen, under the supervision of Professor Darren Gergle. The overall goal of the project was to create an accessible and free diagnostic tool in order to detect potential signs of learning disabilities in students between four and six years old. </p> 
 </div>

 <div class="center">
	<a type="button" class="btn btn-hg btn-embossed btn-inverse" href="/start">Start the test!</a>
 </div>