  {{> navbar }}

  <div class="center">
  	<h1> Testr</h1>
  </div>

  <div class="center">
    	<h2> The number one free diagnostic learning test! </h2>
  </div>

  <div style="margin-top: 40px;" class="center secondary">
  	<h3> Start the test below, or click about to learn more!</h3>
  </div>

  <div style="margin-top: 40px;" class="center">
	<a type="button" class="btn btn-hg btn-embossed btn-inverse" href="/start">Start the test!</a>

	<a type="button" class="btn btn-hg btn-embossed btn-inverse" href="/about">About the test!</a>
  </div>