{{> navbar }}

<div class="center">
	<h1> Results</h1>
</div>

<div class="progress">
	<div class="progress-bar" style="width: {{resultsBar}};"></div>
</div>

<div class="center secondary info">
	<h2> You got {{correct}} / {{total}}, and you took {{time}} seconds</h2>
</div>