  {{> navbar }}

  <h1> START THE TEST</h1>

  <h2> Instructions before starting </h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id lectus lectus. Nunc vel dui leo. Donec semper mauris sed cursus gravida. Aenean ornare gravida nulla, eu tincidunt tellus tristique vitae. Aenean nec convallis orci. Aliquam urna neque, dignissim id dolor et, elementum pharetra nisl. Sed vel eleifend mi, in venenatis orci. Mauris quis ipsum vulputate, laoreet nibh a, iaculis orci. Pellentesque eget mi eu eros dictum dapibus. Etiam posuere libero ligula, in placerat ligula luctus et. Morbi vel augue sem. Cras in iaculis leo, ut consectetur est.</p>

  <a type="button" class="btn btn-primary" href="/startSection/1">Start the test!</a>