{{> navbar }}

<div class="center">
	<h1> START THE TEST</h1>
</div>

<div class="secondary info">
  <div class="center">
  	<h2> Instructions before starting </h2>
  </div>
  <ul>
  	<li class="instructions">&emsp;&ensp;This test has 3 sections, each of which are timed. Don't worry too much about the time, as getting the questions right matters more
  	</li>
  	<li class="instructions"> &emsp;&ensp; Each section will have specific instructions before you start
  	</li>
  	<li class="instructions">
  	 &emsp;&ensp; When you're ready, fill out the student's name and your email below, and then press the button to start the first section!
  	</li>
  </ul>
</div>

<form action="/test/{{test}}/startSection/1" method="get">
	<div class="center">
		<input type="text" name="name" class="form-control input-lg" style="width: 50%" placeholder="Name" value="gabe" required/>
	</div>
	<div class="center">
		<input type="text" name="email" class="form-control input-lg" style="width: 50%; margin-top:10px;" placeholder="Email" value="gabe@gabe.com" required/>
	</div>
	<div class="center">
		<button class="btn btn-hg btn-inverse pull-left info"> Start the test!</button>
	</div>
</form>